# Local Philips Hue Bridge IP Address
HUE_BRIDGE_IP=192.168.1.100

# Philips Hue Bridge Developer Username (API Key)
# See the README on how to create one using your physical bridge
HUE_USERNAME=your_hue_bridge_api_username

# Run without physical D200 hardware connected
SIMULATOR_MODE=True

# Timezone for the D200 small information screen (e.g. America/Sao_Paulo, Europe/Lisbon, etc.)
# TIMEZONE=America/Sao_Paulo

# OpenWeather API Configuration (required for weather and weather+1 widgets)
OPENWEATHER_API_KEY=your_openweather_api_key
OPENWEATHER_CITY=Sao Paulo,BR
